<ul>
<%
repos.collect do |repo|
	repository = Grit::Repo.new(repo)
	head = repository.commits.first
	name = File.basename((File.basename(repository.path) == ".git") ? repository.working_dir : repository.path)
%>
<li>
	<a href="/repos/<%= name %>"><%= name %></a>
</li>
<%
end
%>
</ul>