<%
name = File.basename((File.basename(repository.path) == ".git") ? repository.working_dir : repository.path)
%>
<h1><%=name%></h1>

<ul>
<% repository.commits.each do |commit| %>
	<li><%= commit.message %></li>
<% end %>
</ul>