<h1>Repositories</h1>
<ul>
<%
@repos.each do |repo|
	head = repo.commits.first
%>
<li>
	<p><a href="/<%= escape repo.name %>"><%= repo.name %></a>, last updated <%= relative_time(repo.commits.first.date) %>:</p>
	<p><%= repo.commits.first.message.gsub(/\n/, "<br>\n") %></p>
</li>
<%
end
%>
</ul>